<h1>{{title}}</h1>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header"><strong>Creation un evenement</strong></div>
      <div class="card-body card-block">
        <form action="/events/create" method="post" class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="form-control-label" for="title">Le titre de l'evenement</label>
              <input class="form-control" id="title" type="text" name="title" placeholder="Entree le titre" required>
              <div class="invalid-feedback">
                Please provide a title.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-control-label" for="date">Le date</label>
              <input class="form-control" id="event_date" type="datetime-local" name="event_date" placeholder="Entree le date"
                max="2050-01-01T00:00" required>
              <div class="invalid-feedback">
                Please choose a valid date.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="description">Le description</label>
            <textarea class="form-control" id="description" name="description" rows="10" placeholder="Description..."
              required minlength="10"></textarea>
            <div class="invalid-feedback">
              Please provide a description.
            </div>
          </div>
          <div class="d-flex">
            <button class="btn btn-primary btn-sm mx-2" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
            <button class="btn btn-danger btn-sm" type="reset"><i class="fa fa-ban"></i> Reset</button>
            <button class="btn btn-secondary ml-auto" type="button" onclick="window.location='/events'">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    jQuery(document).ready(function () {
      var now = new Date();
      var defaultDate = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().substring(0, 16)
      jQuery('#event_date').val(defaultDate)
      jQuery('#event_date').prop('min', defaultDate);

    })
  </script>
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
  </script>