<article>
  <h1>{{title}}</h1>
  <p>The 2018 Montreal Alouettes season was the 52nd season for the team in the Canadian Football League and their 64th
    overall. The Alouettes improved upon their disappointing 3–15 record from 2017, but still failed to qualify for the
    playoffs for the fourth straight season, finishing with a 5–13 record.

    This was the first season under former NFL head coach, Mike Sherman, and the second season under general manager,
    Kavis Reed.[1] The Alouettes hosted their training camp for the first time at Olympic Stadium with rookies
    reporting on May 16 and main camp beginning on May 20.</p>
</article>